* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ===========chung============ */
a {
  text-decoration: none;
}
.main {
  width: 1170px;
  max-width: calc(100% - 150);
  margin-left: auto;
  margin-right: auto;
}
.title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}
.lv2 {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 133.3%;
}
/* ===========header=========== */
.header {
  background: #fff;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -44px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 64px 0px 20px;
}
.header .brand {
  background: #000;
  border-radius: 50%;
}
.header .nav {
  margin-left: auto;
  margin-right: 165px;
}
.header .body .nav ul {
  display: flex;
  gap: 39px;
}
.header .body a {
  color: #2f3a3b;
}
.header .body .nav a:hover {
  text-shadow: 1px 0 0 #000;
}
.header .btn {
  color: #494949;
  font-size: 1.6rem;
  padding: 12px 24px;
}
.header .sign .btn-sign {
  color: #1ebfc1;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}
.header .sign .btn-sign:hover {
  color: #fff;
  background: #1ebfc1;
  transition: 0.3s;
}
/* ============hero=============== */
.hero .main {
  display: flex;
  margin-top: 62px;
  margin-bottom: 72px;
}
.hero .hero-l {
  width: 50%;
}
.hero .small {
  color: #767e7e;
  font-size: 1.4rem;
  margin-top: 93px;
  margin-bottom: 18px;
}
.hero .lv1 {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 116%;
}
.hero .desc {
  width: 374px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 178%;
  margin: 46px 0px 52px;
}
.hero .choice {
  display: flex;
  gap: 50px;
}
.hero .btn {
  color: #fff;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.hero button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 0px;
  background: #fff;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.hero button:hover {
  background: #eee;
  box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.hero .hero-pic {
  position: relative;
  width: 50%;
  background: #e0f7f6;
}
.hero .hero-pic img: {
  width: 576px;
  height: 631px;
  object-fit: cover;
}
.hero .hero-pic .cousre {
  display: flex;
  align-items: center;
  position: absolute;
  left: -40px;
  bottom: 420px;
  font-size: 1rem;
  font-weight: 500;
  gap: 16px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .hero-pic .cousre::after {
  position: absolute;
  top: 45px;
  left: 4px;
  content: "";
  display: inline-block;
  width: 28px;
  height: 4px;
  background: #fff;
  border-radius: 999px;
}
.hero .schedule {
  position: absolute;
  bottom: 46px;
  left: -65px;
  width: 125px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .schedule span {
  display: inline-block;
  margin: 16px 35px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}
.hero .schedule .sicon {
  display: block;
  margin: 0 auto;
}
.hero .schedule .icon1 {
  margin-bottom: 12px;
}
.hero .schedule .icon2 {
  margin-bottom: 10px;
}
.hero .schedule .icon3 {
  margin-bottom: 16px;
}
.hero .student {
  position: absolute;
  bottom: 40px;
  right: 45px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  width: 207px;
  height: 90px;
}
.hero .student p {
  margin: 17px 72px 8px 35px;
  font-size: 1rem;
  font-weight: 500;
}
.hero .avt {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .avtb {
  margin-left: -7px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: #1ebfc1;
}
.hero .student span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1ebfc1;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
/* =======feature======== */
.feature {
  margin-top: 150px;
}
.feature .idea {
  width: 1024px;
  height: 559px;
  flex-shrink: 0;
}
.feature .top {
  max-width: 57.6%;
  gap: 18px;
}
.feature .top p {
  color: #767e7e;
  font-size: 1.8rem;
}
.feature .bot {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.feature .bot .name {
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
  margin: 26px 0 16px;
}
.feature .bot .desc {
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 168.8%;
  white-space: pre;
}
/* ========popular======= */
.popular {
  margin-top: 130px;
}
.popular .top p {
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 177.8%;
}
.popular .top .view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .top .view .left {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}
.popular .bot {
  margin-top: 80px;
  display: flex;
  gap: 47px;
}
.popular .bot .pic {
  border-radius: 8px;
  width: 359px;
  height: 393px;
  opacity: 0.35;
}
.popular .bot .course {
  width: 325px;
  height: 195px;
  padding: 18px 25px;
  position: relative;
  left: 17px;
  bottom: 70px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
.popular .bot .name {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}
.popular .bot .course .change {
  color: #767e7e;
  font-size: 1.6rem;
  margin-bottom: 6px;
  line-height: normal;
}
.popular .bot .course p {
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
  font-weight: 400;
}
.popular .bot .course .more {
  display: flex;
  align-items: center;
  margin: 18px;
  gap: 20px;
}
.popular .bot .course .more p {
  position: relative;
}
.popular .bot .course .dot::before {
  position: relative;
  top: 15px;
  left: -10px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #1ebfc1;
  border-radius: 999px;
}
/* =============more============== */
.more .info {
  margin-top: 265px;
  margin-left: 156px;
  display: flex;
  width: 862px;
  height: 131px;
  justify-content: space-between;
  align-items: center;
}
.more .group {
  gap: 11px;
}
.more .num {
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: normal;
}
.more .desc {
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
}
/* ===========noted=========== */
.noted {
  margin-top: 264px;
}
.note {
  display: flex;
}
.note .left {
  max-width: 37%;
}
.note .open{
  margin-top: 37px;
}
.note .said {
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 150%;
  margin: 27px 0 33px;
}
.note .tel {
  display: flex;
  gap: 5px;
  margin-bottom: 52px;
}
.note .who {
  color: #767e7e;
  font-size: 1.6rem;
}
.note .who span {
  color: #070707;
  font-weight: 500;
}
.note .ret::after {
  position: relative;
  bottom: 5px;
  content: " ";
  display: inline-block;
  width: 8px;
  height: 2px;
  background: #070707;
  border-radius: 999px;
}
.note .choice {
  display: flex;
  gap: 30px;
}
.note .switch {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #2ac9bf;
  border-radius: 50%;
}
.note .switch:hover {
  background: #106162;
  box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.note .switch img {
  width: 6px;
  height: 12px;
  object-fit: cover;
}
.note .right{
  max-width: 73%;
  position: relative;
}
.note .right .lv1 {
  width: 235px;
  height: 235px;
  background-color: #FF8282;
  border-radius: 50%;
  position: absolute;
  top: 107px;
  left: 273px;
}
.note .right .lv2 {
  width: 110px;
  height: 110px;
  background-color: #BF83FF;
  border-radius: 50%;
  position: absolute;
  top: 19px;
  left: 569px;
  
}
.note .right .lv3 {
  width: 92px;
  height: 92px;
  background-color: #1ebfc1;
  border-radius: 50%;
  position: absolute;
  left: 144px;
  
}
.note .right .lv4 {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  position: relative;
}
.note .right .bl{
  background-color: #B1DFDC;
  position: absolute;
  top: 347px;
  left: 569px;
  
}
.note .right .r{
  background-color:#FF947A;
  position: relative;
  top: 403px;
  left: 212px;
  
}
.note .right .yel{
  background-color: #FFC147;
  position: relative;
  top: 258px;
  
}